################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UnityPackageManager
/Temp
/Roller Ball Tutorial.sln
/Roller Ball Tutorial.csproj
/Roll-a-Ball-Unity.sln
/Roll-a-Ball-Unity.csproj
/Library
/Build
/.vs
